@font-face {
	font-family: 'GESS Unique Bold';
	src: url('GESSUniqueBold.eot');
	src: local('?'),
		url('GESSUniqueBold.woff') format('woff'),
		url('GESSUniqueBold.ttf') format('truetype'),
		url('GESSUniqueBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}