<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="constr" connectionString="Data Source=160.153.131.93; Port=3306;Keepalive=10; Integrated Security=false; Initial Catalog=ShaamDB; User Id=shaam; Password=Randa@sib123;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
  <system.web>
    <customErrors mode="Off"/>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <trust level="Full"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  
</configuration>