@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url(DroidNaskh-Regular.eot);
  src: url(DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
       url(DroidNaskh-Regular.woff2) format('x-woff2'),
       url(DroidNaskh-Regular.woff) format('woff'),
       url(DroidNaskh-Regular.ttf) format('truetype');
}