@font-face {
	font-family: "Hacen Liner Screen";
        src: url("hacen_liner_screen.eot"); /* IE 9 */
        src: url("hacen_liner_screen.eot?") format("eot"), /* IE 6-8 */
             url("hacen_liner_screen.otf") format("opentype"), /* Other browsers */
             url("hacen_liner_screen.ttf") format("truetype"); /* Safari, Android, iOS */
}