@font-face {
  font-family: 'Lateef';
  font-style: normal;
  font-weight: 400;
  src: url(LateefRegOT.eot);
  src: url(LateefRegOT.eot?#iefix) format('embedded-opentype'),
       url(LateefRegOT.woff2) format('x-woff2'),
       url(LateefRegOT.woff) format('woff'),
       url(LateefRegOT.ttf) format('truetype');
}