@font-face {
  font-family: 'Thabit';
  font-style: normal;
  font-weight: 400;
  src: url(Thabit.eot);
  src: url(Thabit.eot?#iefix) format('embedded-opentype'),
       url(Thabit.woff2) format('x-woff2'),
       url(Thabit.woff) format('woff'),
       url(Thabit.ttf) format('truetype');
}